* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.dark-blue {
  --bg-color: #00082f;
  --text-color: #edf2ff;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body.pink {
  --bg-color: #ced1d6;
  --text-color: #1f000b;
  --primary-color: #771012fd;
  --second-color: #ffffff;
  --primary-color-dark: #ece6d3;
  --color-neutro: #c0bfb2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto";
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  align-items: center;
  width: 10%;
  margin-right: 3%;
}

img.avatar {
  width: 100%;
  height: 70%;
  display: block;
  border-radius: 5px;

  mask-image: linear-gradient(to top, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
}

ul {
  list-style: none;
  margin: 5px 0;
}

ul li a {
  display: flex;
  align-items: center;
  background: white;
  color: #290606;
  font-size: 14px;
  margin-bottom: 4px;
  border-radius: 15px;
  transition: background 400ms;
  padding: 10px;
}

.estoque {
  width: auto;
  list-style: none;
  align-items: baseline;
  background: red;
  color: #ffffff;
  font-size: 14px;
  border-radius: 18px;
  transition: background 400ms;
  padding: 10px;
}

.car {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ced1d6;
  font-weight: bold;
}

img.estoque {
  width: 100%;
  color: #edf2ff;
  height: 100%;
  display: block;
  border-radius: 5px;
}

ul li a:hover {
  background: var(--color-neutro);
}

.rodape {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 15px;
  margin-top: -2px;
}
